* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-container {
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    
    gap: 25px;
    width: 600px;

    margin: 50px auto 0 auto;
}

.box {
    border: 1px solid #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);

    width: calc(550px / 3);
    height: 100px;

    align-content: center;
    text-align: center;
}

.verde { background-color: #6eaa6e; }

.azul { 
    background-color: #4c7aa5;
}

.vermelho { 
    background-color: #a85252; 
}